/*
  Name: Elias Bothell
  Date: April 14, 2021
  Section: CSE 154 AA
  This is the creative.css page for a homework 1 to style index.html like the spec
*/

/*
A properly structured nested list (a list item with another list inside of it) using either ol and/or ul tags.
*/

#creative > section {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #551755;
  padding: 20px;
  border-radius: 26px;
  border: solid 2px #E0DBD7;
  margin-left: 10%;
  box-shadow: 0px 0px 20px #E0DBD7;
}

#creative section {
  width: 80%;
}

#creative > section > section {
  float: right;
  padding: 0;
  color: white;
}

#creative > section > section, #creative img {
	display: inline-block;
}

#creative h2 {
  font-size: 38px;
  text-align: center;
  color: #E0DBD7;
}

#creative h3 {
  font-size: 34px;
  text-decoration: underline;
}

#creative h3, #creative h4, #creative > section > section {
  margin: 0;
}


#creative h3, #creative h4 {
  padding: 4px;
}

#creative section img {
  width: 15%;
  border-radius: 25px;
}
