/*
  Name: Elias Bothell
  Date: April 14, 2021
  Section: CSE 154 AA
  This is the styles.css page for a homework 1 to style index.html like the spec
*/

body {
  background-image: url('img/background.png');
  background-size: cover;
  background-attachment: fixed;
  font-family: "Share Tech Mono", sans-serif;
}

header {
  height: 100vh;
  display: flex;
  color: #E0DBD7;
  align-items: center;
  vertical-align: center;
  flex-direction: column;
  text-align: center;
}

header blockquote {
  font-size: 22px;
  margin-top: 0px;
}

header h1 {
  font-family: "Coda Caption", monospace;
  font-size: 120px;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-shadow: 20px 15px 20px #551755;
}

footer {
  background-color: #E0DBD7;
  width: 100%;
}

footer p {
  padding: 20px;
  text-align: center;
}

#intro, #facts, #jokes {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 10%;
}

#intro, #facts {
  background-color: #E0DBD7;
  padding: 30px;
  border-top: solid 15px #551755;
  border-bottom: solid 15px #551755;
}

#intro h2, #facts h2, #jokes h2 {
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
}

#intro section {
  display: flex;
}

#intro section p {
  font-size: 20px;
}

#intro section img {
  width: 25vw;
  height: 100%;
  border-radius: 10%;
  margin: 10px 50px 10px 10px;
}

#facts p {
  font-size: 24px;
}

#facts ol * {
  font-size: 20px;
}

#facts a {
  color: #FFA600;
}

#facts a:visited {
  color: #1B505E;
}

#jokes h2 {
  text-align: center;
  display: block;
}

#jokes > section > p, #jokes h2 {
	  color: #E0DBD7;
	  display: block;
}

#jokes section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

}

#jokes section section {
  display: flex;
  width: 300px;
  height: 400px;
  margin: 15px;
  background-color: #9B590Dcc;
  padding: 20px;
}

#jokes section section img {
  width: 150px;
  height: 150px;
}

#jokes section section hr {
  width: 65%;
}

#jokes section section p, .answer{
  text-align: left;
  font-size: 24px;
}

.big-letter {
  font-size: 28px;
  color: #E0DBD7;
}

.answer {
  display: none;
  width: 100%;
  color: #191819;
}

#jokes section section:hover > .answer {
  display: inline-block;
}
